.sideBarNav {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 4% 0 4% 0;
  align-items: center;
}

.menu_button:first-child {
  margin-top: 0;
}

.menu_button {
  height: 40px;
  width: 80%;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  color: cornflowerblue;
  border: 1px solid black;
  min-width: 10rem;
}

.menu_button:hover {
  background: #eeeeee;
  cursor: pointer;
}

.menu_selected {
  background: #9290C3;
  color: white;
}

.menu_selected:hover {
  background: #9290C3;
}

.additional-options {
  display: flex;
  flex-direction: column;
  padding: 4% 0 4% 0;
  align-items: center;
}

.message-options {
  width: max-content;
}

.message-option-selected {
  background: #3090e2;
  color: white;
}

.message-option-selected:hover {
  background: #3090e2;
  color: white;
}
