.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10%;
  width: 100%;
  background: #dddddd;
}

.title {
  font-size: 32px;
  font-weight: 800;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #007bff;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
}

.profile-picture:hover {
  transform: scale(1.1);
  border-color: #0056b3;
}

.logout-button {
  padding: 12px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-profile-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Add spacing from Logout button */
}

.view-profile-button:hover {
  background-color: #0056b3;
}

.view-profile-button:active {
  background-color: #003f7f;
}